{% extends 'base.html' %}


{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Hello, Patient</h1>
  <p class="lead" style="text-align:center; font-size: 24px; color: green;">Welcome to V.V Hospital Management System.</p>
  <hr class="my-4">

  <p class="lead" style="text-align: center;">
    <a class="btn btn-primary btn-lg" href="/patientsignup" role="button">Register Your Account</a>
    <a class="btn btn-primary btn-lg" href="/patientlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}
